/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */

/* Poor-mans normalize */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.inner-wrap {
    width: 60%;
    margin: 0 auto;
    border-bottom: 1px solid black;
}
/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
    display: none;
}

/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
    display: none;
}

li {
    list-style: none;
}
.byline {
    border: double;
    width: 300px;
    height: 60px;
    margin: 50px;
}

.byline img {
    display: block;
    float: left;
    width: auto;
    height: 50px;
    padding: 5px;
}
