/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */

/* Poor-mans normalize */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

p {
    margin-top: 1em;
    margin-bottom: 1em;
}

.wrap-all {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.outer-wrap-main {
    display: flex;
    flex: 1;
}

.inner-wrap {
    width: 60%;
    margin: 0 auto;
}

/* Footer */
.outer-wrap-footer {
  background-color: #057fc8;
}

.footer-column-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.footer-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
}

.site-footer {
    text-align: center;
    padding: 10px;
}
/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
    display: none;
}

/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
    display: none;
}

.site-logo-text {
    position: absolute;
    top: 0;
    left: 0;
}

/* Navbar */
.my-navbar {
    background-color: #057fc8;
    display: flex;
    justify-content: space-around;
}

.my-navbar li {
    text-decoration: none;
    font-size: 30px;
}

.my-navbar a {
    text-decoration: none;
    color: black;
}

.my-navbar a:hover {
    text-decoration: underline;
    text-shadow: 2px 2px 10px black;
}

.site-logo {
    display: none;
}

.region-flash img {
    width: 100%;
    height: 140px;
}

li {
    list-style: none;
}

.byline {
    display: inline-block;
    border-left: #057fc8 4px solid;
    border-top:  #057fc8 4px solid;
    border-radius: 10px;
    margin: 50px;
    clear: both;
}

.byline img {
    display: block;
    float: left;
    width: auto;
    height: 50px;
    padding: 5px;
}

.byline p {
    padding: 0;
    margin: 0;
    padding-top: 5px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.figure {
    margin: 10px;
    display: inline-block;
}

figcaption p {
    text-align: center;
    margin: 0;
}

/*  Sidebar*/
.region-main.has-sidebar {
    width: 85%;
}

.wrap-sidebar {
    position: absolute;
    top: 200px;
    right: 20%;
    width: 170px;
}

.block {
    padding-bottom: 5px;
}

.block h4{
    background-color: #057fc8;
}

.block p{
    margin-top: 0;
}

.next-previous {
    position: relative;
    margin: 10px;
}

.next {
    position: absolute;
    right: 0px;
}
