/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */

/* Poor-mans normalize */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.inner-wrap {
    width: 60%;
    margin: 0 auto;
}
/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
    display: none;
}

/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
    display: none;
}

.site-logo-text {
    position: absolute;
    top: 0;
    left: 0;
}

/* Navbar */
.my-navbar {
    background-color: #057fc8;
    display: flex;
    justify-content: space-around;
}

.my-navbar li {
    text-decoration: none;
    font-size: 30px;
}

.my-navbar a {
    text-decoration: none;
    color: black;
}

.my-navbar a:hover {
    text-decoration: underline;
    text-shadow: 2px 2px 10px black;
}

.site-logo {
    display: none;
}

li {
    list-style: none;
}
.byline {
    border: double;
    width: 300px;
    height: 60px;
    margin: 50px;
}

.byline img {
    display: block;
    float: left;
    width: auto;
    height: 50px;
    padding: 5px;
}
