@mainColor: #5D39B3;
@secondaryColor: #FF9B37;
@tertiaryColor: #41CC52;
@bgColorBody: #fff;
@colorBody: #333;
@colorHeaderFooter: #111;

body {
    background: rgb(118,143,140);
    background: linear-gradient(0deg, rgba(118,143,140,1) 0%, rgba(179,178,57,1) 80%);
}

.outer-wrap-header,
.inner-wrap-header,
.outer-wrap-footer,
.my-navbar li {
    background-color: inherit;
}
