@mainColor: #5D39B3;
@secondaryColor: #FF9B37;
@tertiaryColor: #41CC52;
@bgColorBody: #fff;
@colorBody: #333;
@colorHeaderFooter: #111;

//Harmony/balance in the headers
h1 {
    background: @mainColor;
    background: linear-gradient(90deg,@mainColor 0%, @secondaryColor 100%);
}

.region-sidebar-left .block h4 {
    background-color: @mainColor;
}

.region-sidebar-right .block h4 {
    background-color: @secondaryColor;
}
