/**
 * Layout for responsive style through media queries.
 */
@media screen and (max-width: 1650px) {
    .inner-wrap-main,
    .inner-wrap-footer {
        #desinax-vgrid.grid(80%);
    }
    // .region-sidebar-right,
    // .region-sidebar-left {
    //     #desinax-vgrid.column(@columns);
    //
    // }
    // .region-main.has-sidebar {
    //     #desinax-vgrid.column(@columns);
    // }
}

@media screen and (max-width: 1250px) {
    .inner-wrap-main,
    .inner-wrap-footer,
    .inner-wrap-flash {
        #desinax-vgrid.grid(100%);
    }
}



@media screen and (max-width: 1000px) {


    .region-header-col-1,
    .region-header-col-3 {
        #desinax-vgrid.column(1);
    }
    .region-header-col-2 {
        #desinax-vgrid.column(22);
    }
    .site-logo-text {
        display: none;
    }


}

@media screen and (max-width: 700px) {
    .site-logo-text {
        display: initial;
    }
    .rm-desktop {
    	display: none;
    }
    .region-header-col-1,
    .region-header-col-3, {
        #desinax-vgrid.column(@columns / 2);
    }

    .region-header-col-2 {
        #desinax-vgrid.column(0);
    }

    .region-sidebar-right,
    .region-sidebar-left {
        #desinax-vgrid.column(@columns);

    }
    .region-main.has-sidebar {
        #desinax-vgrid.column(@columns);
    }
}
